# Python Basics

## Printing

In [2]:
print("*"*40)
print("Name: Jethalal Champaklal Gada")
print("*"*40)
print("Age: 22")
print("*"*40)
print("Job: Gada Electronics")
print("*"*40)
print("Address: Gokuldham Society")
print("*"*40)
print("Birthplace: Bachaoo, Gujarat")
print("*"*40)

****************************************
Name: Jethalal Champaklal Gada
****************************************
Age: 22
****************************************
Job: Gada Electronics
****************************************
Address: Gokuldham Society
****************************************
Birthplace: Bachaoo, Gujarat
****************************************

## keywords

In [3]:
import keyword


dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'issoftkeyword',
 'kwlist',
 'softkwlist']

In [13]:
keyword.iskeyword("True")

True

Let's list all the keywords in python

In [17]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [37]:
class Circle:
    def __init__(self, r):
        self.r = r
    
    @property
    def area(self):
        return 3.14*self.r*self.r
    
    def __str__(self):
        return f"<Circle r={self.r} >"

In [38]:
mycircle = Circle(3)

In [39]:
mycircle.area

28.259999999999998

In [40]:
print(mycircle)

<Circle r=3 >

## Complex numbers

In [47]:
print(3+4j)

(3+4j)

In [48]:
print(type(3+4j))

<class 'complex'>

## Some Taks

In [49]:
50+int("50")

100

In [50]:
str(50)+"50"

'5050'

## Operators

In [51]:
a = 1
b = 1
a is b

True

## BMI Calculator

BMI = weight (kg) / height (m)

In [52]:
def BMI(w: float, h: float) -> float:
    return w / (h * h)

In [53]:
def to_meter(f, i):
    return (f*12+i) * 2.54 / 100

In [54]:
height_f = 5
height_i = 6
weight = 88

In [55]:
bmi = BMI(weight, to_meter(height_f, height_i))

In [56]:
bmi

31.31319393951919

In [57]:
to_meter(height_f, height_i)

1.6764000000000001

## Multiplication Table

In [58]:
range(1, 11)

range(1, 11)

In [59]:
print(range(1, 11))

range(1, 11)

In [61]:
for i in range(1, 11):
    print (f"10 x {i} = {10 * i}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Random Task

Dokan ma 1000 rupe diyeko, tirnu parne 475 for mangos, then kati ota 100 ko note, 20 ko note ra 5 ko note aauxa firtsw?

In [65]:
firta = 1000-475

In [69]:
hundreds = int(firta / 100)
firta -= hundreds * 100
hundreds

5

In [71]:
twenties = int(firta / 20)
firta -= twenties * 20
twenties

1

In [72]:
fives = int(firta/5)
firta -= fives * 5

In [73]:
fives

1

In [74]:
firta

0

In [77]:
"Manish"[::-1]

'hsinaM'

### See del keyword

## Dict

In [78]:
manish = {
    "name": "Manish Malhotra",
    "age": 21,
    "address": "Thamel"
}

In [79]:
manish

{'name': 'Manish Malhotra', 'age': 21, 'address': 'Thamel'}

In [80]:
manish.get("name")

'Manish Malhotra'

In [83]:
manish.get("sex", "Male")

'Male'

In [82]:
manish["sex"]

KeyError: 'sex'

In [84]:
del manish["address"]

In [85]:
manish

{'name': 'Manish Malhotra', 'age': 21}

In [92]:
for key in manish.keys():
    print(key, manish[key])

name Manish Malhotra
age 21