In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
model = LinearRegression()

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./csv-files/std-iq.csv")

In [6]:
del df["Student_ID"]
df.head()

   CGPA   IQ  Placement
0   6.8  123          1
1   5.9  106          0
2   5.3  121          0
3   7.4  132          1
4   5.8  142          0